[Unit]
Description=Simple service for Studies
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 <your-project-path>/sys-watch/app.py
User=<your-user>
MemoryMax=200M

[Install]
WantedBy=multi-user.target